//Google Font Import
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700&display=swap');

//Color palette
$light: #fdfdfd;
$neutral: #e6ebe0;
$dark: #191919;
$primary: #9BC1BC;
$secondary: #5D576B;
$primaryPop: #ED6A5A;
$secondaryPop: #F4F1BB;

//Fonts & Sizes
$globalFont: 'Montserrat';
$globalFontSize: 16px;
